/* @font-face {
    font-family: 'Spotify-2';
    src: url('../../fonts/Public_Sans/static/PublicSans-Light.ttf') ;
  
  } 

  * {
    font-family: OpenSans, sans-serif;
    font-family: 'Spotify-2';
    font-size: 16px;
    color:red
  } */