@font-face {
  font-family: 'Spotify-1';
  src: url('../../fonts/Public_Sans/static/PublicSans-Bold.ttf');
  // font-weight: 400;
}
@font-face {
  font-family: 'Spotify-2';
  src: url('../../fonts/SpotifyMixUI-Regular.woff2') format('woff2');
  // font-weight: 400;
}
