.header {
  background-color: var(--base-color-4);
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-icon {
  overflow: hidden;
  background: none;
  fill: var(--base-color-5);
  padding: 4px;
}
