.library {
  background-color: var(--base-color-3);
  grid-area: l;
  border-radius: var(--border-radius-1);
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  min-width: 270px;
}
.library-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--base-color-3);
  transition: box-shadow 0.3s;
  z-index: 10;
  padding: var(--gap-1);
}
.library:hover .library-header {
  box-shadow: 0 8px 10px -8px #000;
}
.library-btns {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.library-header-icons {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.library-header-icons * {
  padding: 12px;
}
.collapse-wrapper {
  display: flex;
  color: rgba(255, 255, 255, 0.3);

  align-items: center;
  background: none;
  border: none;
  margin: 0;
  border-radius: 5px;
}
.collapse-wrapper:hover {
  color: #fff;
}
.collapse-icon {
  padding-left: 0;
  fill: rgba(255, 255, 255, 0.3);
}
.collapse-wrapper:hover .collapse-icon {
  fill: #fff;
}
.library-list-wrapper {
  overflow-y: scroll;
  height: 100%;
  padding: var(--gap-1);
  padding-right: 0;
  overflow-x: hidden;
}
.library-list {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}
.library-filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  margin: 0;
  padding: 0;
  gap: 5px;
  margin-bottom: 10px;
}
.library-filter li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
}

.librarary-search-icon {
  position: relative;
}
.list-item {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: var(--gap-1);
}

.list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.list-item:hover .list-item-img::after {
  opacity: 1;
}
.player .list-item-img {
  height: var(--track-tab-2);
  width: var(--track-tab-2);
}
.list-item-img {
  height: var(--track-tab-1);
  width: var(--track-tab-1);
  border-radius: 4px;
  background-color: var(--base-color-1);
  position: relative;
  overflow: hidden;
}
.list-item-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.item-title {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.item-title.playing {
  color: var(--base-color-1);
}
.item-subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  color: #aaa;
}

.library-list-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
}
.library-list-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}
